// breakpoints
$XSS: 320px;
$XS: 480px;
$S: 768px;
$M: 992px;
$L: 1200px;
$XL: 1440px;
$XXL: 1600px;

// fonts
$roboto: "Roboto", Helvetica, Arial, Sans-serif;
$cabin: "Cabin Condensed", Helvetica, Arial, Sans-serif;
$north: "North-Regular", Helvetica, Arial, Sans-serif;

// General colors
$white: #FFFFFF;
$black: #2b2c2c;
$black_1: #333333;
$header_blue: #2066bd;
$ln_blue: #00acef;
$ln_blue_light: #64c0ef;
$grey: #AAAAAA;
$light-grey: #f4f4f4;
$dark-grey: #818181;
$darker-grey: #646464;
