html, body {
  height: 100%;
  width: 100%;
}

body {
  color: $black;
  font-family: $cabin;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $north;
  font-weight: 500;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'North-Regular';
  src: url('fonts/North-Regular.eot');
  src: url('fonts/North-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/North-Regular.woff2') format('woff2'),
  url('fonts/North-Regular.woff') format('woff'),
  url('fonts/North-Regular.ttf') format('truetype'),
  url('fonts/North-Regular.svg#North-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


a {
  color: $ln_blue;
  &:hover,
  &:visited,
  &:link {
    text-decoration: none;
  }
}

p {
  font-weight: 400;
  font-size: 0.875em; /* 14px */
  line-height: 1.8em;
}

input,
button,
select,
textarea {
  outline: none;
}


.btn {
  border-radius: 4px;
  background-color: $ln_blue;
  color: $white;
  font-size: 1em;
  padding: 6px 36px;
  transition: 0.1s;

  &:hover {
    background-color: $ln_blue_light;
  }
}

.btn-light {
  border-radius: 4px;
  background-color: $white;
  color: $ln_blue;
  font-size: 1em;
  padding: 6px 36px;
  transition: 0.1s;

  &:hover {
    background-color: $ln_blue_light;
    color: $white;
  }
}

.container {
  position: relative;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}