@media screen and (min-width: 480px) {
  /*====== Header =====*/
  .header-logo {
    img {
      max-width: 100%;
      padding-top: 0;
      margin-top: -5px;
    }
  }
}

/* iphone 5 landscape */
@media screen and (height: 320px) and (width: 568px) {

}

@media screen and (max-height: 750px) {

}

@media screen and (min-width: 1400px) {

}

@media screen and (min-width: 1600px) {
  .container {
    width: 1370px;
  }
}

@media screen and (min-width: 1900px) {

}

@media screen and (min-width: 2560px) {

}