@media only screen and (min-width: 480px) {
  /*****************************************************
    1 Header
  *****************************************************/

  /*****************************************************
    2 Menu
  *****************************************************/

  /*****************************************************
    3 Content
  *****************************************************/

  .my-meetings-wrapper {

    .schedule-new {
      display: inline-block;
      float: right !important;
      margin-top: 0;
    }

  }

  .team-tree__main-container {
    width: 100%;
    margin: 0 auto;
  }
  /*****************************************************
    4 Footer
  *****************************************************/
}
