// Colors
$ln-blue:       #337ab7;
$ln-blue-2:     #0072A1;
$white:         #FFFFFF;
$off-white:     #F1F1F1;
$deep-gray:     #333333;
$gray:          #e3e3e3;

// General colors
$black: #666666;
$black_1: #333333;
$light_blue: #1591ca; //#2ea3f2;
$blue_btn_1: #1591ca; //#3CA5CC;
$blue_btn_2: #1591ca; //#428bca;
$blue_title: #1591ca; //#5399DB;
$header_blue: #1591ca; //#53a8c1;
$panel_title: #696969;
$panel_title_active: #cccccc;
$input: #eee;


// Font Sizes
$px05: 0.313em;
$px07: 0.468em;
$px08: 0.500em;
$px09: 0.563em;
$px10: 0.625em;
$px12: 0.750em;
$px13: 0.813em;
$px14: 0.875em;
$px16: 1.000em;
$px18: 1.125em;
$px20: 1.25em;
$px21: 1.313em;
$px22: 1.375em;
$px24: 1.500em;
$px26: 1.625em;
$px27: 1.688em;
$px28: 1.750em;
$px30: 1.875em;
$px32: 2.000em;
$px36: 2.250em;
$px38: 2.375em;
$px40: 2.500em;
$px42: 2.625em;
$px44: 2.750em;
$px48: 3.000em;
$px50: 3.125em;
$px60: 3.750em;
$px64: 4.000em;
$px70: 4.375em;
$px84: 5.250em;
$px92: 5.750em;